# Serveur web production
gunicorn==26.0.0

# API Groq
groq==1.5.0

# Framework web
flask==3.1.3

# Sécurisation des noms de fichiers (utilisé dans le code)
werkzeug==3.1.8

# Variables d'environnement
python-dotenv==1.2.2

flake8==7.3.0
